{% extends "base.html" %}
{% block title %}Create Plan · Fitness App{% endblock %}
{% block content %}
<h2>Create / Replace Plan</h2>
<form method="post" class="card">
  {{ form.hidden_tag() }}

  <label>Goal</label>
  <select name="goal" class="input" style="margin-bottom: 10px;">
    <option>Weight Loss</option>
    <option>Muscle Gain</option>
    <option>Endurance</option>
  </select>
  <label for="days_slider">Duration (days): <span id="daysValue">28</span></label>
  <input type="range" name="days" id="days_slider" class="input" min="1" max="60" value="28" oninput="daysValue.textContent = days_slider.value" style="width:95%; margin-bottom: 20px;">


  <button class="btn" type="submit">Generate Plan</button>
</form>
{% endblock %}
