{% extends "base.html" %}
{% block title %}Login · Fitness App{% endblock %}
{% block content %}
<h2>Log in</h2>
<form method="post">
  {{ form.hidden_tag() }}

  <label>Username or Email</label>
  {{ form.identifier(class="input") }}

  <label>Password</label>
  {{ form.password(class="input") }}

  <div style="margin: 10px 0; display: flex; align-items: center;">
    {{ form.remember(style="width:auto; margin-right:8px;") }}
    <label for="remember">Remember me</label>
  </div>

  {{ form.submit(class="btn") }}
</form>
<p style="margin-top:10px">No account? <a href="{{ url_for('auth.register') }}">Create one</a></p>
{% endblock %}
